@model Data.Entities.Post;

@{
    bool isImage = Model.ContentType == "Image";
    bool isPublic = Model.CircleId is null; 
}
<div class="fb-container__item">
    <h4>@Model.UserName @if(!isPublic) {
        <span>in circle: @Model.CircleName </span>
    }</h4>

    <p>@Model.Text</p>

    @if(isImage) {
        <img src="@Model.ImagePath" style="max-width: 100%"/>
    }

    @foreach (var comment in Model.Comments)
    {
        <div style="border-top: solid 1px black; margin-top: 10px; margin-bottom: 10px">
            @comment.UserName <span>writes: </span>
            <p>@comment.Text</p>
        </div>
    }

    <div style="border-top: solid 1px black; margin-top: 10px; margin-bottom: 10px">
        <form method="post" asp-action="AddComment" asp-controller="CreatePost">
            <input style="width: 100%" type="text" name="Text" placeholder="Add comment">
            <input type="hidden" name="postId" value="@Model.Id">
        </form>
    </div>
    @{
        //TODO: Add commenting if user is logged in
    }
</div>